@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	min-height: 100vh;
	height: 100% !important;
	margin: 0;
	background-attachment: fixed;
	background-color: rgb(180, 221, 197);
    font-family: "Open Sans";
    font-weight: 300;
}

*{
	box-sizing: border-box;
}